body{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: 70px 70px;
    background-image:  repeating-linear-gradient(to right, #1c1b1b, #1c1b1b 0.26px, #000000 0.26px, #000000);
    display: flex;
    align-items: center;
}

h1{
    cursor: help;
}

h1:hover{
    font-weight: 700;
}

h1 svg{
width: 20px;
height: auto;
}

.button{
    border: 0.5px solid #fff;
    color: white;
    width: fit-content;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
    display: block;
    transition: 0.2s ease;
    background-color: white;
    color: black;
}

.intro{
    max-width: 50vw;
    font-weight: 200;
    line-height: 1.3em;
    text-align: justify;
}

.memory{
    font-style: italic;
    font-weight: 200;
}

.memory span{
text-decoration: underline;
cursor: pointer;
}

.planetImg {
    width: 200px;
    margin: auto;
}

.hidden{
    display: none
}

/*Planet rotation*/

.container{
    height: 100vh;
    width: 100vw;
  /*   border: 1px solid #fff; */
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: inherit;
  }
  .moon {
    background-color: #39beff;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .crater {
    background-color: #31b4ff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
  }
  
  .crater:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: -5px 0 0 2px #1ca4f9;
    top: 2px;
    left: 7px;
  }
  
  .crater1 {
    top: 27px;
    left: 90px;
    transform: scale(0.9);
  }
  
  .crater2 {
    bottom: 15px;
    left: 61px;
    transform: scale(0.6);
  }
  
  .crater3 {
    left: 15px;
    transform: scale(1.05)
  }
  
  .crater4 {
    top: 23px;
    left: 118px;
    transform: scale(1.1)
  }
  
  .crater5 {
    left: 35px;
    transform: scale(0.5)
  }
  
  .shadow {
    height: 190px;
    width: 190px;
    box-shadow: 21px 0 0 5px rgba(0,0,0,0.15);
    border-radius: 50%;
    position: relative;
    bottom: 157.5px;
    right: 46px;
    filter: blur(3px)
  }
  
  .eye {
    height: 12px;
    width: 12px;
    background-color: #161616;
    position: relative;
    border-radius: 50%;
  }
  
  .eye-l {
    bottom: 255px;
    left: 59px; 
    animation: leftEye 3s ease-out infinite;
  }
  
  .eye-r {
    bottom: 267px;
    left: 101px;
    animation: rightEye 3s ease-out infinite;
  }
  
  .mouth {
    height:5px;
    width: 10px;
    border: 3px solid #161616;
    position: relative;
    bottom: 262px;
    left: 79px;
    border-top: none;
    animation: mouthAnim 3s ease-out infinite;
    border-radius: 0 0 10px 10px;
  }
  
  .blush {
    height: 7.5px;
    width: 7.5px;
    background-color: #F4DDE4;
    position: relative;
    border-radius: 50%;
    filter: blur(3px)
  }
  
  .blush1 {
    bottom: 273px;
    left: 50px;
  }
  
  .blush2 {
    bottom: 280px;
    left: 115px;
  }
  
  .orbit {
    height: 280px;
    width: 280px;
  /*   border: 1px solid #fff; */
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: spin 5s infinite linear;
  }
  
  @keyframes spin {
    100%{
      transform: rotate(360deg)
    }
  }
  
  .rocket {
    background-color: #fafcf7;
    height: 50px;
    width: 25px;
    border-radius: 50% 50% 0 0;
    position: relative;
    left: -11px;
    top: 115px;
  }
  
  .rocket:before{
    position: absolute;
    content: "";
    background-color: #39beff;
    height: 20px;
    width: 55px;
    z-index: -1;
    border-radius: 50% 50% 0 0;
    right: -15px;
    bottom: 0;
  }
  .rocket:after{
    position: absolute;
    content: "";
    background-color: #39beff;
    height: 4px;
    width: 15px;
    border-radius: 0 0  2px 2px;
    bottom: -4px;
    left: 4.3px;
  }
  
  .window {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: #151845;
    border: 2px solid #b8d2ec;
    border-radius: 50%;
    top: 15px;
    left: 5px;
  }

  /*Texte loading*/

  .loading{
    width: fit-content;
    height: 20px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.loading p {
    top: 0;
    padding: 0;
    margin: 0;
    color: #4294EA;
    animation: text 3.5s ease both infinite;
    font-size: 12px;
    letter-spacing: 1px;
}

.blueLine{
    position: absolute;
    bottom: 0;
    background-color: #31b4ff;
    width: 100vw;
    height: 2px;
    animation: lines 3s ease-out infinite;
}

.planetImgBig{
    background: url('/img/earth.png');
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -20%;
    top: 8%;
    z-index: -1;
}
.shooting-star{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

@keyframes animateBg{
  0%,100%{
      transform: scale(1);
  }
  50%{
      transform: scale(1.2);
  }
}

.shooting-star span{
  position: absolute;
  top:50%;
  left:50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 8s linear infinite;
}
.shooting-star span::before{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;
  }
  100%
  {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
  }
}
.shooting-star span:nth-child(1){
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
.shooting-star span:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.shooting-star span:nth-child(3){
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.shooting-star span:nth-child(4){
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.shooting-star span:nth-child(5){
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
.shooting-star span:nth-child(6){
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.shooting-star span:nth-child(7){
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.shooting-star span:nth-child(8){
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.shooting-star span:nth-child(9){
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
.shooting-star span:nth-child(9){
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}
  
  @keyframes fade_in_show {
       0% {
            opacity: 0;
            transform:  translateX(-50px);
       }
  
       100% {
            opacity: 1;
            transform: translateX(0px);
       }
  }
  
  @keyframes fade_out_show {
       0% {
           opacity: 1;
           transform: translateX(0px);
       }
  
       100% {
            opacity: 0;
            transform:  translateX(-50px);
       }
  }


@keyframes lines{
    0%{
        width: 0vw;
    }
    70%{
        width: 80vw;
    }
    100%{
    width: 100vw;
    }
}

@keyframes text {
    0% {
        letter-spacing: 1px;
    }
    40% {
        letter-spacing: 2px;
    }
    80% {
        letter-spacing: 1px;
        
    }
    100% {
        letter-spacing: 1px;
    }
    }

@keyframes leftEye{
    0%{
        bottom: 255px;
        left: 59px; 
    }
    20%{
        bottom: 270px;
        left: 59px; 
    }
    50%{
        bottom: 270px;
        left: 69px; 
    }
    100%{
        bottom: 255px;
        left: 69px; 
    }
}


@keyframes rightEye{
    0%{
        bottom: 267px;
        left: 101px;
    }
    20%{
        bottom: 282px;
        left: 101px;
    }
    50%{
        bottom: 282px;
        left: 111px;
    }
    100%{
        bottom: 267px;
        left: 111px;
    }
}

@keyframes mouthAnim{
    0%{
        bottom: 262px;
        left: 79px;
    }
    20%{
        bottom: 277px;
        left: 79px;
    }
    50%{
        bottom: 277px;
        left: 89px;
    }
    100%{
        bottom: 262px;
        left: 89px;
    }
}
.main{
  padding-left: 10%;
}

@media (max-width: 500px){
  body{
    display: unset;
  }

  .main {
    margin-top: 38%;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  .intro {
    max-width: 70vw !important;
  }
}