@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #010014;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    padding-left: 10%;
    padding-top: 5%;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-size: 70px 70px;
    background-image:  repeating-linear-gradient(to right, #1c1b1b, #1c1b1b 0.26px, #000000 0.26px, #000000);
}

@font-face {
    font-family: SpaceAge;
    src: url("fonts/spaceAge.ttf") ;
}


h1{
    font-family: 'SpaceAge', sans-serif;
    font-size: 3em;
    cursor: help;
    margin-top: 8%;
    transition: all 0.3s ease;
    font-weight: 400;
}

h1:hover{
    font-weight: 700;
}

h1 svg{
width: 20px;
height: auto;
}

.button{
    border: 0.5px solid #fff;
    color: white;
    width: fit-content;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    padding: 10px 20px;
    margin-top: 3%;
}

.intro{
    max-width: 50vw;
    font-weight: 200;
    line-height: 1.3em;
    text-align: justify;
}

.memory{
    font-style: italic;
    font-weight: 200;
}

img{
    width: 100%;
    height: auto;
}

.memory span{
text-decoration: underline;
cursor: pointer;
}

.planetImg {
    width: 200px;
    margin: auto;
}

.hidden{
    display: none
}

/*Planet rotation*/

.container{
    height: 100vh;
    width: 100vw;
  /*   border: 1px solid #fff; */
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: inherit;
  }
  .moon {
    background-color: #39beff;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .crater {
    background-color: #31b4ff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
  }
  
  .crater:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: -5px 0 0 2px #1ca4f9;
    top: 2px;
    left: 7px;
  }
  
  .crater1 {
    top: 27px;
    left: 90px;
    transform: scale(0.9);
  }
  
  .crater2 {
    bottom: 15px;
    left: 61px;
    transform: scale(0.6);
  }
  
  .crater3 {
    left: 15px;
    transform: scale(1.05)
  }
  
  .crater4 {
    top: 23px;
    left: 118px;
    transform: scale(1.1)
  }
  
  .crater5 {
    left: 35px;
    transform: scale(0.5)
  }
  
  .shadow {
    height: 190px;
    width: 190px;
    box-shadow: 21px 0 0 5px rgba(0,0,0,0.15);
    border-radius: 50%;
    position: relative;
    bottom: 157.5px;
    right: 46px;
    filter: blur(3px)
  }
  
  .eye {
    height: 12px;
    width: 12px;
    background-color: #161616;
    position: relative;
    border-radius: 50%;
  }
  
  .eye-l {
    bottom: 255px;
    left: 59px; 
    animation: leftEye 3s ease-out infinite;
  }
  
  .eye-r {
    bottom: 267px;
    left: 101px;
    animation: rightEye 3s ease-out infinite;
  }
  
  .mouth {
    height:5px;
    width: 10px;
    border: 3px solid #161616;
    position: relative;
    bottom: 262px;
    left: 79px;
    border-top: none;
    animation: mouthAnim 3s ease-out infinite;
    border-radius: 0 0 10px 10px;
  }
  
  .blush {
    height: 7.5px;
    width: 7.5px;
    background-color: #F4DDE4;
    position: relative;
    border-radius: 50%;
    filter: blur(3px)
  }
  
  .blush1 {
    bottom: 273px;
    left: 50px;
  }
  
  .blush2 {
    bottom: 280px;
    left: 115px;
  }
  
  .orbit {
    height: 280px;
    width: 280px;
  /*   border: 1px solid #fff; */
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    animation: spin 5s infinite linear;
  }
  
  @keyframes spin {
    100%{
      transform: rotate(360deg)
    }
  }
  
  .rocket {
    background-color: #fafcf7;
    height: 50px;
    width: 25px;
    border-radius: 50% 50% 0 0;
    position: relative;
    left: -11px;
    top: 115px;
  }
  
  .rocket:before{
    position: absolute;
    content: "";
    background-color: #39beff;
    height: 20px;
    width: 55px;
    z-index: -1;
    border-radius: 50% 50% 0 0;
    right: -15px;
    bottom: 0;
  }
  .rocket:after{
    position: absolute;
    content: "";
    background-color: #39beff;
    height: 4px;
    width: 15px;
    border-radius: 0 0  2px 2px;
    bottom: -4px;
    left: 4.3px;
  }
  
  .window {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: #151845;
    border: 2px solid #b8d2ec;
    border-radius: 50%;
    top: 15px;
    left: 5px;
  }

  /*Texte loading*/

  .loading{
    width: fit-content;
    height: 20px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.loading p {
    top: 0;
    padding: 0;
    margin: 0;
    color: #4294EA;
    animation: text 3.5s ease both infinite;
    font-size: 12px;
    letter-spacing: 1px;
}

.blueLine{
    position: absolute;
    bottom: 0;
    background-color: #31b4ff;
    width: 100vw;
    height: 2px;
    animation: lines 3s ease-out infinite;
}

.menu{
    background: #fff;
    border-radius: 40px;
    padding: 8px 15px;
    display: flex;
    width: fit-content;
    transition: width 2s linear;
    position: fixed;
    left: 10%;
    top: 15%;
  }
  
  ul{
    margin: auto;
    padding: 0;
  }
  
  .menu li{
    display: inline-block;
    transition: all 2s linear;
  }
  
  .menu li:first-child{
    animation: fade_in_show 1s;
  }
  
  .menu li:nth-child(2){
    animation: fade_in_show 0.8s;
  }

    .menu li a:hover{
        color: #78c7f4;
    }
    
    .menu li:last-child a{
        color: #31b4ff;
    }

    .menu li a{
        color: #000;
        text-decoration: none;
        margin: auto 10px;
        transition: all 0.3s ease;
        font-size: 12px;
        font-style: normal;
        font-weight: 900 !important;
        text-transform: uppercase;
        
      }
    
    
  .burger {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
      align-items: center;
      justify-content: center;
    
  }
  
  .wrapper-menu {
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);  
  }
  
  .line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 2px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  
  .none{
    display: none !important;
    animation: fade_in_show 1s;
  }

.planetImgBig{
    background: url('/img/earth.png');
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -20%;
    top: 8%;
    z-index: -1;
}

  
  @keyframes fade_in_show {
       0% {
            opacity: 0;
            transform:  translateX(-50px);
       }
  
       100% {
            opacity: 1;
            transform: translateX(0px);
       }
  }
  
  @keyframes fade_out_show {
       0% {
           opacity: 1;
           transform: translateX(0px);
       }
  
       100% {
            opacity: 0;
            transform:  translateX(-50px);
       }
  }


@keyframes lines{
    0%{
        width: 0vw;
    }
    70%{
        width: 80vw;
    }
    100%{
    width: 100vw;
    }
}

@keyframes text {
    0% {
        letter-spacing: 1px;
    }
    40% {
        letter-spacing: 2px;
    }
    80% {
        letter-spacing: 1px;
        
    }
    100% {
        letter-spacing: 1px;
    }
    }

@keyframes leftEye{
    0%{
        bottom: 255px;
        left: 59px; 
    }
    20%{
        bottom: 270px;
        left: 59px; 
    }
    50%{
        bottom: 270px;
        left: 69px; 
    }
    100%{
        bottom: 255px;
        left: 69px; 
    }
}


@keyframes rightEye{
    0%{
        bottom: 267px;
        left: 101px;
    }
    20%{
        bottom: 282px;
        left: 101px;
    }
    50%{
        bottom: 282px;
        left: 111px;
    }
    100%{
        bottom: 267px;
        left: 111px;
    }
}

@keyframes mouthAnim{
    0%{
        bottom: 262px;
        left: 79px;
    }
    20%{
        bottom: 277px;
        left: 79px;
    }
    50%{
        bottom: 277px;
        left: 89px;
    }
    100%{
        bottom: 262px;
        left: 89px;
    }
}