*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    background-color: black !important;
}

html {
    height: 100vh;
}

.time {
    background: #fff;
    color: black;
    border-radius: 40px;
    padding: 8px 15px;
    padding-left: 20px;
    display: flex;
    width: fit-content;
    transition: width 2s linear;
    position: fixed;
    right: 7vh;
    top: 7vh;
    font-size: 12px;
    font-style: normal;
    font-weight: 900 !important;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.pause-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.resume {
}

.menu{
    z-index: 50 !important;
}

.planet-info{
    background-color: #fff;
    position: absolute;
    left: 3%;
    bottom: 10%;
    color: black;
    padding: 15px 30px;
    max-width: 35vw;
}

.planet-info .flex p:first-child{
    margin-right: 20px;
    min-width: 100px ;
}

.none{
    display: none;
}

.flex{
    display: flex;
    align-items: center;
}

.titleInfo{
    background-color: #000;
    color: white;
    padding: 10px 20px;
    width: 100%;
}